<html ng-app="app">
<script type="text/javascript"
	src="./webjars/angularjs/1.6.6/angular.js"></script>
<script type="text/javascript"
	src="./webjars/angularjs/1.6.6/angular-resource.min.js"></script>
<script src="./js/battlecontroller.js"></script>
<script src="./webjars/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet"
	href="./webjars/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="./webjars/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="./js/jquery.js">
	
</script>
<head>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	<!-- <div class="navbar-header">
				//<a class="navbar-brand" href="#">Westeros at war! </a>
			</div> -->
	<ul class="navbar-nav">
		<li class="nav-item"><a class="nav-link" href="/battle">Battles</a>
		</li>
		<li class="nav-item active"><a class="nav-link" href="#">Kings</a>
		</li>
		<!--    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li> -->

	</ul>
</nav>
</head>
<body ng-controller="ctrl" ng-init="refreshkings()">
	<div class="container">
		<table class="table">
			<thead>
				<tr>
					<th>King's Name</th>
					<th>Battle_won</th>
					<th>Battle_Lost</th>
					<th>Rating</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="x in king">
					<td>{{x.name}}</td>
					<td>{{x.battle_won}}</td>
					<td>{{x.battle_lose}}</td>
					<td>{{x.ratting}}</td>
				</tr>
			</tbody>
		</table>
	</div>


</body>
</html>